<div class="container">
    <div class="popupModal modal fade" id="createSlide" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Slayt Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-controller="Home" asp-action="CreateSlide" enctype="multipart/form-data">
                        <div class="border-bottom mb-4 pb-4">
                            @*<input type="hidden" name="slideId" id="slideId" />*@
                            <div class="form-group row">
                                <div class="col-12">
                                    <label class="col-form-label text-dark font-weight-bold">
                                        Slayt Görseli
                                        <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Slaytın arkaplanında yer alacak görseli yükleyiniz.">
                                            <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                        </span>
                                    </label>
                                    <div class="image-input media align-items-end mt-4">
                                        <div class="position-relative">
                                            <!-- 288 x 120 -->
                                            <img src="~/images/placeholder/slide-cover-image.jpg">
                                        </div>
                                        <div class="media-body ml-4 mb-4 mb-md-0">
                                            <p>JPG veya PNG 1920x800 px</p>
                                            <a href=""></a>
                                            <button type="button" class="upload btn btn-outline-primary">
                                                <input type="file" name="slideBgFile" id="uploadBoxSlide" multiple>
                                                Yükle
                                                <input type="hidden" value="slideBg" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                    Slayt Başlığı
                                    <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Slaytın başlığını yazınız.">
                                        <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <input name="title" class="form-control" autofocus>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                    Slayt Açıklaması
                                    <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Slaytın başlık altındaki açıklamasını yazınız.">
                                        <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <textarea name="desc" rows="3" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                    Slayt Buton Linki
                                    <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Eğer buton kullanacaksanız butonun linkini isteidğiniz sayfadan kopyalayarak buraya yapıştırınız.">
                                        <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <input name="buttonLink" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                    Slayt Butonu Üzeri Yazı
                                    <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Buton üzerindeki yazıyı yazınız.">
                                        <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <input name="buttonText" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="my-5">
                            <button type="submit" onclick="return validateInput()" class="icon-btn btn btn-success mr-2"><i class="fa fa-check-circle"></i> Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>