<div class="container">
    <div class="popupModal modal fade" id="pickBlogThumbs" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Blog Görsellerini Seç</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" overflow-y: auto;">
                    <div id="gallerySection" class="row media-gallery pick-gallery">

                    </div>
                    <div class="my-5">
                        <button type="button" id="pickButton" class="icon-btn btn btn-success mr-2"><i class="fa fa-check-circle"></i> Seçimi Tamamla</button>
                        <input type="hidden" name="blogId" id="blogId" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>