<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		<remove name="WebDAV" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\RenderMentor.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
	  	<environmentVariables>
        	<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      	</environmentVariables>
	  </aspNetCore>
	  <modules>
        <remove name="WebDAVModule" />
      </modules>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 031d0dab-efce-49a6-b06b-be51cfb9be4f-->