@model RenderMentor.Models.ViewModels.StudentPasswordVM
@{
    ViewData["Title"] = "Password";
    Layout = "~/Views/Shared/_Layout-student.cshtml";
}
<form method="post">
    <div class="border-bottom mb-4 pb-4">
        <h4 class="mb-4">Parola Ayarları</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-dark">Mevcut Parolanız</label>
            <div class="col-md-9">
                <input asp-for="OldPassword" class="form-control">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-dark">Yeni Parola</label>
            <div class="col-md-9">
                <input asp-for="NewPassword" class="form-control">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-dark">Yeni Parola Tekrarı</label>
            <div class="col-md-9">
                <input asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        @if (!String.IsNullOrEmpty(Model.StatusMessage))
        {
            var statusMessageClass = Model.StatusMessage.StartsWith("Error") ? "danger" : "success";
            <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @Model.StatusMessage
            </div>
        }
    </div>

    <div class="my-5">
        <button type="submit" class="btn btn-success m-2">Güncelle</button>
        <a asp-action="Profile" class="btn btn-danger m-2">İptal</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}