<button type="submit" class="icon-btn btn btn-success mr-2"><i class="fa fa-check-circle"></i> Kaydet</button>
<a asp-action="Index" class="icon-btn btn btn-info mr-2"><i class="fa fa-arrow-left"></i> Listeye Dön</a>
<a asp-action="Index" class="icon-btn btn btn-light mr-2"><i class="fa fa-search"></i> İncele</a>