<div class="container">
    <div class="popupModal modal fade" id="viewReview" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yorum Detayları</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="border-bottom mb-4 pb-4">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Yorum Yapılan Kurs</strong>
                            </div>
                            <div class="col-md-9">
                                <p id="title"></p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Öğrenci Adı</strong>
                            </div>
                            <div class="col-md-9">
                                <p id="name"></p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Öğrenci E-Posta</strong>
                            </div>
                            <div class="col-md-9">
                                <p id="email"></p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Verilen Puan</strong>
                            </div>
                            <div class="col-md-9">
                                <div id="rating"></div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Yapılan Yorum</strong>
                            </div>
                            <div class="col-md-9">
                                <p id="comment"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>