
@{
    ViewData["Title"] = "Slide Galerisi";
}

<div class="col-lg-10">
    <div class="row mb-4">
        <div class="col-md-6">
            <h1>Slide Galerisi</h1>
            <ol class="breadcrumb breadcrumb-double-angle bg-transparent p-0">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Giriş Ekranı</a></li>
                <li class="breadcrumb-item"><a asp-action="Index"> Medya Galerisi</a></li>
                <li class="breadcrumb-item"> Slide Galerisi</li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="admin-top-actions d-flex justify-content-end">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="icon-btn btn btn-success text-white mr-2" onclick="TriggerClick()"><i class="fa fa-plus"></i> Slayt Fotoğrafı Ekle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-v1 padding-30">
        <div class="row gallery-controls">
            <div class="col-sm-3">
                <div class="control-info"><i class="fa fa-expand-arrows-alt"></i> <span>Görsel Ölçüleri: <small>1920x800</small></span></div>
            </div>
            <div class="col-sm-3">
                <button id="showCheck" type="button" class="btn btn-check-all"><i class="far fa-square"></i> <span>Görsel Seç</span></button>
            </div>
            <div class="col-sm-3 checkAllBox">

            </div>
            <div class="col-sm-3 deleteAllBox">

            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center margin-b-100">
            <div id="gallerySection" class="row text-center media-gallery">
                <a data-fancybox="gallery"></a>
            </div> <!-- END row-->
        </div>
        <div class="my-3">
            <div class="pagination-box"></div>
            <button type="button" class="icon-btn btn btn-success text-white mr-2" onclick="TriggerClick()">
                <i class="fa fa-plus"></i> Slayt Fotoğrafı Ekle
            </button>
        </div>

        <form id="galleryForm" method="post" enctype="multipart/form-data" asp-controller="MediaGallery" asp-action="UploadSlideBg">
            <input type="file" name="GalleryImage" id="uploadGallery" style="display:none;">
        </form>
    </div> <!-- END card-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/jquery.form.min.js"></script>
    <script src="~/gallery/slidebg.js"></script>
}