@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section class="padding-y-100 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card shadow-v2">
                    <div class="card-header bordor-bottom">
                        <h4 class="mt-4">@ViewData["Title"]</h4>
                    </div>
                    <div class="card-body">
                        <p>Parolanız sıfırlanmıştır. Lütfen <a asp-page="./Login">bu linke</a> tıklayarak giriş yapınız.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
