
@{
    Layout = "~/Views/Shared/_Layout-admin.cshtml";
}

<div class="col-lg-10">
    <div class="row mb-4">
        <div class="col-md-6">
            <h1>Öğrenciler</h1>
            <ol class="breadcrumb breadcrumb-double-angle bg-transparent p-0">
                <li class="breadcrumb-item"><a asp-area="Base" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a></li>
                <li class="breadcrumb-item"> Kullanıcılar</li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="admin-top-actions d-flex justify-content-end">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-action="Upsert" class="btn btn-light"><i class="fa fa-plus"></i> Yeni Ekle</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-v1 padding-30">

        <div class="table-responsive my-4">
            <table id="tblData" class="table table-bordered no-order">
                <thead>
                    <tr>
                        <th scope="col">Kullanıcı Adı</th>
                        <th scope="col">Email</th>
                        <th scope="col">Cinsiyet</th>
                        <th scope="col">Üye Tipi</th>
                        <th scope="col">Firma</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Email Onay</th>
                        <th scope="col">Kilitle</th>
                        <th scope="col">Eylemler</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="my-3">
            <a asp-action="Upsert" class="icon-btn btn btn-success mr-2"><i class="fa fa-plus"></i> Yeni Ekle</a>
        </div>


    </div> <!-- END card-->
</div> <!-- END col-md-8 -->


@section Scripts {
    <script src="~/datatables/user.js?v=1.03"></script>
}