<div class="container">
    <div class="popupModal modal fade" id="createSection" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Kurs Bölümü Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-controller="Course" asp-action="CreateSection">
                        <div class="border-bottom mb-4 pb-4">
                            <input type="hidden" name="secCourseId" id="secCourseId" />
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                    Bölüm Adı
                                    <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Kurs bölümünün adını yazınız.">
                                        <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <input name="title" class="form-control" required autofocus>
                                </div>
                            </div>
                        </div>

                        <div class="my-5">
                            <button type="submit" class="icon-btn btn btn-success mr-2"><i class="fa fa-check-circle"></i> Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>